@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ub6f5');
  src:  url('../fonts/icomoon.eot?3ub6f5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ub6f5') format('truetype'),
    url('../fonts/icomoon.woff?3ub6f5') format('woff'),
    url('../fonts/icomoon.svg?3ub6f5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play_arrow:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e300";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}

html,body{
	max-width: 1230px;
	margin: 0 auto;
	color: #303030;
}

body{
	height: 100%;
	background: #eeeeee;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}

/*header*/
.productman{
	display: inline-block;
	width: 59%;
	text-decoration: none;
	margin: 0;
	color: #303030;
}

.head{
	display: inline-block;
	width: 40%;
	text-align: right;
	text-decoration: none;
	padding: 0;
}

.head a{
	text-decoration: none;
	color: #303030;
}

ul{
	font-size: 0;
}

ul li{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
}

li{
	text-decoration: none;
	color: black;
}

.right{
	margin-right: 23px;
}

.black{
	display: inline-block;
	width: 50%;
	text-align: right;
	vertical-align: top;
}

h2{
	font-size: 150px;
	line-height: 150px;
	word-wrap: break-word;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: 2.5px;
}

.white{
	display: inline-block;
	width: 100%;
	color: #303030;
}

.headphones{
	display: inline-block;
	width: 41%;
	margin-left: 104px;
}

.phones{
	background: #eeeeee;
	margin-bottom: 185px;
}

.top{
	vertical-align: top;
	margin-top: 105px;
}

.view{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #e10011;
	font-weight: bold;
	margin: 0;
	margin-top: 32px;
}

.lorem{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 36px;
	margin: 0;
}

.ba-header{

}

/*main*/

.featured{
	display: inline-block;
	margin-bottom: 78px;
	text-align: center;
	width: 1230px;
	margin: 0 auto;
}

.product{
	margin-top: 113px;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	margin-bottom: 0;
}

.first{
	max-width: 1230px;
	margin: 0 auto;
	margin-bottom: 172px;
	background: white;
	height: 1194px;

}

.section-lorem{
	font-size: 18px;
	line-height: 24px;
	font-family: 'Raleway', sans-serif;
	width: 550px;
	margin: auto;
	margin-bottom: 77px;
}

.second{
	margin-bottom: 66px;
}

.middle{
	display: inline-block;
	max-width: 100%;
	margin: 0;
	vertical-align: top;
	text-align: center;
	font-size: 0;
}

.img-wrap{
    position: relative;
    border-radius: 5px;
}

.img-wrap img{
    height: auto;
    border-radius: 5px;
}

.img-wrap .hover-img{
    position: absolute;
    display: none;
}

.img-wrap:hover .hover-img{
    display: block;
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
}

.underline{
	text-decoration: underline;
	text-transform: capitalize;
	margin-top: 0;
}

.img-wrap .hover-img .hover-text{
    position: relative;
    top: 70%;
    transform: translate(0,-70%);
}

.hover-text > p{
	margin-bottom: 0;
	margin-left: 37px;
}

.news{
	display: inline-block;
	text-align: center;
	width: 1230px;
	margin: 0 auto;

}

.productman-news{
	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.loremispum{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600i;
	width: 550px;
	margin: auto;
	margin-bottom: 42px;

}

.input{
	position: relative;
	max-width: 1230px;
	margin: 0 auto;
	text-align: center;
}

input[type="text"]{
	width: 704px;
	height: 70px;
	background: white;
	border: none;
	font-size: 18px;
	color: #979797;
	padding-left: 70px;
	border-radius: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600i;
}

.input .icon-mail{
	position: absolute;
	margin-left: 30px;
	margin-top: 27px;
	z-index: 1;
	color: #979797;
	font-size: 18px;
}

.subs{
	color: white;
	text-transform: uppercase;
	background: red;
	height: 70px;
	border: none;
	font-size: 18px;
	font-weight: 900;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 206px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 260px;
}

.input:hover button.subs, 
.input:active button.subs, 
.input:focus button.subs{
	opacity: 1;
}

.icon{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 109px;
	margin-bottom: 0;
	font-size: 34px;
}

.icon a{
	text-decoration: none;
	color: #979797;
}

.icon a:hover{
	color: red;
}

.icon-block{
	display: inline-block;
	background: white;
	height: 71px;
	width: 71px;
	border-radius: 70px;
	padding-top: 19px;
	margin-right: 19px;
}

/*footer*/

.ba-footer{
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	width: 1230px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #303030;
}

.company{
	color: black;
}